@import "tailwindcss";
@plugin '../hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
    background-color: var(--color-gray-50, #F9FAFB);
    color: #212121;
    font-size: 18px;
}

:root.dark {
    background-color: var(--color-gray-900, #111827);
    color: #E0E0E0;
}

body {
    width: 100%;
    position: relative;
}

main {
    padding-top: 140px;
    min-height: 90vh;
}

button {
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    :root {
        font-size: 16px;
    }
}